<div class="App">
 <header class="App-header">
   <img src="Octocat.png" class="App-logo" alt="logo" />
   <p>


<div class="App">
 <header class="App-header">
  
   <!DOCTYPE html>
<html>
<body>


<h2>Cam's Portfolio</h2>


   <p>
   <div class="bg-success"></div>


    <code>My name is Cameron Greene. I have 3 years of UX/UI experience 2 years at UMBC Honors College and a year for the State of Maryland Department of Health.
   I have learned many things throughout research as well as Designing Protocols.
    
    
     Projects <span class="heart">♥️</span> Case Studies
   </p>
   <p class="small">
   </p>
   <a href='https://www.figma.com/file/X9xnHm9L7mlTWCS557iC0p/Portfolio-Mock-up-Figma%E2%9C%92%EF%B8%8F-(Community)?t=vVZWmhdIm11HL14z-0'><button>Figma</Figma></a>
    <a href='https://docs.google.com/document/d/1j_GhYuQblv3QPKDjcEQjlRxloCHXVU8xFg2hcodApBI/edit'><button>UX Project</Project></a>
 <a href='https://docs.google.com/document/d/19OrcKy8fRI5Sm8dq1EPYc8BbWJYsGq2P/edit?usp=sharing&ouid=111049543810345236158&rtpof=true&sd=true'><button>Research Technology</Research Technology></a>
  <a href='https://docs.google.com/presentation/d/1qLafazS1MKgh_GOkVXNtOQw905FHxQ_-YhXHK9OTaDY/edit#slide=id.p'><button>Case Study</Case Study></a>
 <a href='https://docs.google.com/document/d/15lB8glnU9hk_n1uPZns1TxyDKP29QZqz8xk6X7OaB-4/edit#'><UX Resume>UX Resume</Project></a>
  </header>
</div>





